.palette {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--pallete-color);
}

.product {
    display: inline-block;
    background-color: var(--product-color);
    border: 1px solid var(--dark-color);
}