:root {
    --bg-color: #0f172a;
    --content-color: #020617;

    --primary-color: #3B4665;
    --semi-color: #33617c57;
    --accent-color: #62b6cb;

    --text-color: #94a3b8;

    --dark-color: #072233;
    --white-color: #ffffff;

    --product-color: #62b6cbab;

    --radius: 4px;
    --shadow: 0px 0px 14px -3px rgba(0, 0, 0, 0.75);
}

* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    color: var(--text-color);
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
}

a:hover {
    color: #5eead4;
}

body {
    width: 100%;
    height: 100svh;

    background-color: var(--bg-color);
}

button {
    cursor: pointer;
    border-radius: var(--radius);
    border: 1px solid transparent;
    padding: 0.5rem 2rem;
    font-size: 1em;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: border-color 0.25s;
}

button:hover {
    background-color: var(--accent-color);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

input[type="number"] {
    display: block;
    height: 3rem;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--content-color);
    color: var(--text-color);
    text-align: center;
    margin-bottom: 1rem;
}

input:focus-visible {
    outline: none;
}

.wrapper {
    background-color: var(--content-color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);

    padding: 1rem;
    margin: 0.5rem;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    padding: 1rem;
    text-align: right;
}

table th {
    font-size: 0.875rem;
}

table th:nth-child(1),
table td:nth-child(1) {
    text-align: left;
}

table tr {
    border-bottom: 1px solid var(--semi-color);
}

.flex {
    display: flex;
    align-items: center;
}