.form {
    grid-column: 1/2;
    grid-row: 1/2;
    width: min-content;
    display: grid;
    grid-template-rows: 1fr 3rem;
    grid-template-columns: 1fr 1fr;
    composes: wrapper from global;
}

.form div {
    margin: 1rem;
}

.form label {
    font-weight: 600;
    font-size: 0.875rem;
    color: var(--primary-color);
}

.product {
    grid-row: 1/2;
    grid-column: 1/2;
}

.pallete {
    grid-row: 1/2;
    grid-column: 2/2;
}

.form button {
    grid-column: 1/3;
}