.wrapper {
    composes: wrapper from global;
    grid-column: 2/3;
    grid-row: 1/3;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg-color);
}